body {
    background-color: #282c34;
    color: #abb2bf;
  }
  
  h2, h3, h4 {
    color: #abb2bf;
  }
  
  a {
    color: #abb2bf;
  }
  
  ul, ol {
    color: #abb2bf;
  }
  
  pre {
    background-color: #2e3440;
    color: #abb2bf;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
  }
  
  pre code {
    display: block;
  }
  
  /* Additional modifications for Obsidian MD-like style */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
  }
  
  ul {
    margin-bottom: 10px;
  }
  
  ol {
    margin-bottom: 10px;
  }
  